
    <!-- </foreignobject> check! -->

<svg width="400" height="150">
    <rect x="30" y="0" width="300" height="150" style="fill:blue;stroke:pink;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
    Sorry, your browser does not support inline SVG.  
    <rect x="60" y="30" width="240" height="100" fill="gray"/>
    <a>
      <text x="70" y="60" fill="purple" font-size="20" font-weight="bold"> Start Shopping/ </text>
      <text x="80" y="90" fill="purple" font-size="20" font-weight="bold">Resume Shopping</text>
    </a>
</svg>    
<app-reg-form></app-reg-form>



