<div class="reg_form">
    <h4>Are you Registered?</h4>
    <form action="/action_page.php">
      <div class="form-group">
        <label for="user">Username:</label>
        <input type="text" class="form-control" id="user" placeholder="User Name" name="user">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
      <div class="checkbox">
        <label><input type="checkbox" name="remember"> Remember me</label>
      </div>
      <button type="submit" class="btn btn-default">Login</button>
      <a href="#">Sign Up</a>
    </form>
  </div>
